@charset "utf-8";

/*段落(p)タグ*/
#main p {
	padding: 10px 20px 15px;	/*上、左右、下への余白*/
}
#main a{
	text-align: center;
	padding: 0 20px 0px;
	text-decoration: underline;
}

/* --------------------ここから新しく追加した分 --------------*/
ul{
	font-size: 14px;
}
 #logo a:hover{ /*ここだけマウスオーバーしたときに色が変わらないように */
	background-color: rgba(0, 0, 0,0);
}
#main h3 {
	clear: both;
	margin-bottom: 20px;	/*見出しの下(外側)に空けるスペース*/
	color: #333;			/*文字色*/
	background: linear-gradient(#fff, #eee);	/*グラデーション*/
	border-radius: 30px;	/*角丸のサイズ*/
	padding: 5px 20px;		/*上下、左右への見出し内の余白*/
	border: 1px solid #ccc;	/*枠線の幅、線種、色*/
}
h4{
	font-weight: bold;
}
#food_spots,#hotel,#souvenir,#sightseeing_spots{
	display: flex;
	justify-content: space-around;
}
#food_spots img,#hotel img,#souvenir img,#sightseeing_spots img{
	width: auto;
	height: 200px;
	padding: 10px;
}
#food_spots a{
	font-size: 90%;
}
#food_spots p{
	font-size: 90%;
}
.box{
	padding: 5px;
	width: 50%;
	display: grid;
	justify-content: center;
	border: 1px solid rgba(133, 194, 151, 0.414);
}
#box1{
	padding: 5px;
	width: 50%;
	display: grid;
	justify-content: center;
}
a:hover{
	background-color: rgb(218, 208, 225);
}
#box2{
	padding: 5px;
	width: 50%;
	display: grid;
	justify-content: center;
}
#main .transport li{
	cursor: pointer;
	border: solid 3px #949494;
	border-radius: 30px;
	padding: 10px 20px 10px;
}

#main .photo-block a{
	padding: 0;
}

#main #KK_transportation li{
	cursor: pointer;
	border: solid 3px #949494;
	border-radius: 30px;
	background: #dfc3ca;
	color: #F00;
	padding: 10px 20px 10px;
}
#main #KK_transportation p{
	background-color: #dad4ce;
	border-radius: 10px;
	font-weight: bold;
}
#main #KK_transportation ul li::after{
    content: "";
    position: absolute;
    top:auto;
    bottom: auto;
    right: 14%;
    display: block;
    width: .9em;
    height: .5em;
    margin: auto;
    background: no-repeat center/110% url('../assets/images/oita/underTriangle.png');
}
#O_text_buss{
	display:inline;
}
iframe{
	padding-bottom: 10px;
}

#main .KK_S{
	border: 1px solid rgba(133, 194, 151, 0.414);
}

/*画面幅1250px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:1250px){
	#O_title_tab li::after{
		right: 6em;
	}
}	
/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px)
{
	#food_spots img,#hotel img,#souvenir img{
		height: 100%;
	}
	#O_title_tab li::after{
		right: 4em;
	}
}