@charset "utf-8";

/*段落(p)タグ*/
#main p {
	padding: 10px 20px 15px;	/*上、左右、下への余白*/
}
/* #main a{
	padding: 0 20px 20px;
} */

/* --------------------ここから新しく追加した分 --------------*/
#food_spots,#hotel,#souvenir{
	display: flex;
	justify-content: space-around;
}
#food_spots img,#hotel img,#souvenir img{
	width: auto;
	height: 200px;
	padding-left: 10px;
	padding-right: 10px;
}
#food_spots a{
	font-size: 90%;
}
#food_spots p{
	font-size: 90%;
}
#box1{
	padding: 5px;
	width: 50%;
	display: grid;
	justify-content: center;
}
#box2{
	padding: 5px;
	width: 50%;
	display: grid;
	justify-content: center;
}
#main #O_text_title{
	cursor: pointer;
	border: solid 3px #949494;
	border-radius: 30px;
	background: #dfc3ca;
	color: #F00;
	padding: 10px 20px 10px;
}
#O_text_explanation{
	display: none;
}
#O_text_buss{
	display:inline;
}
#O_title_tab li::after{
    content: "";
    position: absolute;
    top:auto;
    bottom: auto;
    right: 6em;
    display: block;
    width: .9em;
    height: .5em;
    margin: auto;
    background: no-repeat center/110% url('../images/oita/underTriangle.png');
}


/*画面幅480px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:480px)
{
	#food_spots img,#hotel img,#souvenir img{
		height: 100%;
	}
}